<p class="ion-text-center" *ngIf="authService.signedIn && userEmail"><b>Account</b>: <ion-text color="primary">{{ userEmail }}</ion-text></p>

<ion-list>
  <ion-menu-toggle auto-hide="false">
    <ion-item class="ion-activatable" tappable *ngIf="currentRoute !== '/app'" (click)="navTo('/app')">
      <ion-icon slot="start" name="play" color="primary"></ion-icon>
      <ion-label><b>Go To App</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable *ngIf="!authService.signedIn" (click)="navTo('/auth/sign-in')">
      <ion-icon slot="start" name="log-in" color="primary"></ion-icon>
      <ion-label><b>Sign In</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable *ngIf="!authService.signedIn" (click)="navTo('/auth/create-account')">
      <ion-icon slot="start" name="person-add" color="primary"></ion-icon>
      <ion-label><b>Create Account</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable *ngIf="authService.signedIn" (click)="signOut()">
      <ion-icon slot="start" name="log-out" color="primary"></ion-icon>
      <ion-label><b>Sign Out</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable (ionChange)="toggleTheme($event)">
      <ion-icon slot="start" name="moon" color="dark"></ion-icon>
      <ion-label><b>Dark Theme</b></ion-label>
      <ion-checkbox slot="end" [ngModel]="darkMode"></ion-checkbox>
    </ion-item>

    <ion-item class="ion-activatable" tappable *ngIf="currentRoute === '/app'" (click)="openTutorial()">
      <ion-icon slot="start" name="help-circle" color="primary"></ion-icon>
      <ion-label><b>App Tutorial</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable *ngIf="authService.signedIn" (click)="deleteAccount()">
      <ion-icon slot="start" name="trash" color="danger"></ion-icon>
      <ion-label><b>Delete Account</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable (click)="openPage('https://neutrify.news/home')">
      <ion-icon slot="start" name="home" color="success"></ion-icon>
      <ion-label><b>Home</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable (click)="openPage('https://neutrify.news/home/support')">
      <ion-icon slot="start" name="call" color="success"></ion-icon>
      <ion-label><b>Customer Support</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable (click)="openPage('https://neutrify.news/home/terms-conditions')">
      <ion-icon slot="start" name="document-text" color="success"></ion-icon>
      <ion-label><b>Terms & Conditions</b></ion-label>
    </ion-item>

    <ion-item class="ion-activatable" tappable (click)="openPage('https://neutrify.news/home/privacy-policy')">
      <ion-icon slot="start" name="eye" color="success"></ion-icon>
      <ion-label><b>Privacy Policy</b></ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<ion-list>
  <h2 class="ion-text-center"><b>Latest Blog Posts</b></h2>

  <ion-item class="ion-activatable" tappable (click)="openPage('https://neutrify.news/blog/unbiased-news')">
    <ion-label class="ion-text-wrap" color="primary"><b>Unbiased News - 5 Tips To Help You Become Better Informed</b></ion-label>
  </ion-item>

  <ion-item class="ion-activatable" tappable (click)="openPage('https://neutrify.news/blog/media-bias')">
    <ion-label class="ion-text-wrap" color="primary"><b>Media Bias - Discover The 10 Biases That Always Mislead You</b></ion-label>
  </ion-item>
</ion-list>