<div class="container">
  <ion-icon class="dismiss-icon" name="close-circle" (click)="dismiss()" color="danger"></ion-icon>

  <ion-grid class="ion-no-padding">
    <ion-slides pager="false" #slides (ionSlidesDidLoad)="checkSlidesPos()" (ionSlideDidChange)="checkSlidesPos()" >
      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial</b></h3>
          </ion-row>

          <ion-row class="text-container intro ion-text-left">
            <p>
              Welcome to the tutorial. Here you will see how to use the different tools Neutrify provides you.
            </p>
          </ion-row>

          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex > 1">
            <img src="../../assets/img/tutorial/Open-Tutorial.gif" alt="How to open the tutorial" loading="eager">
          </ion-row>

          <ion-row class="text-container intro ion-text-left">
            <p>
              Don't have time now? You can always access the tutorial again from the main menu.
            </p>

            <p class="hide">
              Neutrify is constantly being updated with new features! Check back on this tutorial to find out how to use them.
            </p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Switch Layout</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 0 || currentSlideIndex > 2">
            <img src="../../assets/img/tutorial/Layout.gif" draggable="false" alt="How to switch layouts" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>Try out the two different layouts available to you: Grid or List.</p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Adding Filters</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 1 || currentSlideIndex > 3">
            <img src="../../assets/img/tutorial/Quick-Filters.gif" draggable="false" alt="How to add filters easily" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>You can easily add filters by clicking on one of the key terms found in an article.</p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Manual Filters</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 2 || currentSlideIndex > 4">
            <img src="../../assets/img/tutorial/Manual-Filters.gif" draggable="false" alt="How to add filters manually" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>You can also manually add filters by using the filter menu. You have many to choose from.</p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Searching</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 3 || currentSlideIndex > 5">
            <img src="../../assets/img/tutorial/Search.gif" draggable="false" alt="How to search for key terms" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>Search for a single key term by clicking the search icon. Then enter your search term.</p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Political Bias</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 4 || currentSlideIndex > 6">
            <img src="../../assets/img/tutorial/Political-Alignment.gif" draggable="false" alt="How to filter by political bias" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>To filter by political bias, cycle the button's colour to include or exclude the bias from your feed.</p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Clearing Filters</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 5 || currentSlideIndex > 7">
            <img src="../../assets/img/tutorial/Clear-Filters.gif" draggable="false" alt="How to clear the filters" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>To clear your current filters, open the filter menu and click the 'Clear Filters' button.</p>
          </ion-row>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col>
          <ion-row class="title-container ion-no-margin ion-no-padding ion-text-center ion-justify-content-center">
            <h3><b>Tutorial: Dark Theme</b></h3>
          </ion-row>
          
          <ion-row class="img-container ion-padding ion-justify-content-center" [hidden]="currentSlideIndex < 6 || currentSlideIndex > 8">
            <img src="../../assets/img/tutorial/Dark-Theme.gif" draggable="false" alt="How to switch to dark mode" loading="eager">
          </ion-row>

          <ion-row class="text-container ion-text-left">
            <p>To easily switch to and from dark mode, open the main menu and check the 'Dark Theme' option.</p>
          </ion-row>
        </ion-col>
      </ion-slide>
    </ion-slides>

    <ion-row class="ion-justify-content-between">
      <ion-button color="danger" (click)="slidePrev()" [disabled]="backButtonDisabled || buttonClicked"><b>Back</b></ion-button>
      <ion-button color="success" (click)="slideNext()" [disabled]="nextButtonDisabled || buttonClicked" *ngIf="!nextButtonDisabled"><b>Next</b></ion-button>
      <ion-button color="success" (click)="dismiss()" [disabled]="buttonClicked" *ngIf="nextButtonDisabled"><b>Done</b></ion-button>
    </ion-row>
  </ion-grid>
</div>