<ion-grid class="ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding" size="1">
        <div class="tooltip">
          <ion-icon size="small" name="help-circle"></ion-icon>
          <span class="tooltiptext">Use the checkbox to select all categories within a topic or click on the dropdown menu to specify.</span>
        </div> 
      </ion-col>

      <ion-col class="ion-activatable tappable" size="9" (click)="showFilter = !showFilter">
        <h4><b>Topics</b></h4>
      </ion-col>

      <ion-col class="ion-text-end ion-activatable tappable ion-text-right" size="2" (click)="showFilter = !showFilter">
        <ion-icon name="chevron-down-outline" [hidden]="showFilter"></ion-icon>
        <ion-icon name="chevron-up-outline" [hidden]="!showFilter"></ion-icon>
      </ion-col>
    </ion-row>

  <div *ngIf="showFilter" [@enterLeave]>
    <ion-row class="ion-justify-content-center">
      <ion-segment (ionChange)="onSegmentChange($event)" value="include">
        <ion-segment-button class="primary" value="include">
          <ion-label>Include</ion-label>
        </ion-segment-button>
        <ion-segment-button class="secondary" value="exclude">
          <ion-label>Exclude</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    
    <app-topic-option
      *ngFor="let option of selectOptions" 
      [topicOption]="option" 
      [topicValues]="filterValues[option.name]"
      [segmentValue]="segmentValue"
      [filtersLoading]="filtersLoading"
      (onTopicChange)="handleTopicChange($event)">
    </app-topic-option>

  </div>
</ion-grid>
