<ion-grid class="ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding" size="1">
        <div class="tooltip">
          <ion-icon size="small" name="help-circle"></ion-icon>
          <span class="tooltiptext">Use the checkbox to select all categories within a topic or click on the dropdown menu to specify.</span>
        </div> 
      </ion-col>

      <ion-col class="ion-activatable tappable" size="9" (click)="showFilter = !showFilter">
        <h4>Topics</h4>
      </ion-col>

      <ion-col class="ion-text-end ion-activatable tappable ion-text-right" size="2" (click)="showFilter = !showFilter">
        <ion-icon name="chevron-down-outline" [hidden]="showFilter"></ion-icon>
        <ion-icon name="chevron-up-outline" [hidden]="!showFilter"></ion-icon>
      </ion-col>
    </ion-row>

  <div [hidden]="!showFilter">
    <ion-row class="ion-justify-content-center">
      <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange()">
        <ion-segment-button class="primary" value="include">
          <ion-label>Include</ion-label>
        </ion-segment-button>
        <ion-segment-button class="secondary" value="exclude">
          <ion-label>Exclude</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <div *ngIf="segmentValue === 'include'">  
      <ion-row class="ion-justify-content-between" *ngFor="let option of selectOptions">
        <ion-col size="2">
          <ion-checkbox name="{{option.name}}" [(ngModel)]="this[option.disabledField]" (ionChange)="checkboxClicked($event)"></ion-checkbox>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label>{{option.label}}</ion-label>
            <ion-select name="{{option.name}}" multiple="true" [value]="includedTopics[option.name]" [compareWith]="compareWithFn" [disabled]="this[option.disabledField]" (ionChange)="selectChanged($event)">
              <ion-select-option *ngFor="let value of option.values">{{value.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="segmentValue === 'exclude'">  
      <ion-row class="ion-justify-content-between" *ngFor="let option of selectOptions">
        <ion-col size="2">
          <ion-checkbox name="{{option.name}}" [(ngModel)]="this[option.disabledField]" (ionChange)="checkboxClicked($event)"></ion-checkbox>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label>{{option.label}}</ion-label>
            <ion-select name="{{option.name}}" multiple="true" [value]="excludedTopics[option.name]" (ngModelChange)="modelChanged()" [disabled]="this[option.disabledField]" (ionChange)="selectChanged($event)">
              <ion-select-option *ngFor="let value of option.values">{{value.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-grid>
