<ion-list> 
  <ion-item>
    <app-topics-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="topicsUserOption"></app-topics-filter>
  </ion-item>

  <ion-item>
    <app-word-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="keywordsUserOption" wordFilterType="Keywords"></app-word-filter>
  </ion-item>

  <ion-item>
    <app-word-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="sourcesUserOption" wordFilterType="News Sources"></app-word-filter>
  </ion-item>

  <ion-item>
    <app-country-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="locationsUserOption"></app-country-filter>
  </ion-item>

  <ion-item>
    <app-range-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="toneUserOption" rangeFilterType="Attitude"></app-range-filter>
  </ion-item>
  
  <ion-row class="ion-justify-content-evenly">
    <ion-buttons>
      <ion-button color="secondary" (click)="loadFilters()">Load Filters</ion-button>
      <ion-button color="primary" (click)="saveFilters()">Save Filters</ion-button>   
    </ion-buttons>
  </ion-row>
</ion-list>
