<ion-list> 
  <ion-item lines="full">
    <app-topics-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="topicsUserOption"></app-topics-filter>
  </ion-item>

  <ion-item lines="full">
    <app-word-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="keywordsUserOption" wordFilterType="Keywords"></app-word-filter>
  </ion-item>

  <ion-item lines="full">
    <app-word-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="sourcesUserOption" wordFilterType="News Sources"></app-word-filter>
  </ion-item>

  <ion-item lines="full">
    <app-country-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="locationsUserOption"></app-country-filter>
  </ion-item>

  <ion-item lines="full">
    <app-range-filter class="filter" (userOptionChanged)="onFilterChange($event)" [userOption]="toneUserOption" rangeFilterType="Attitude"></app-range-filter>
  </ion-item>
  
  <ion-row class="ion-justify-content-evenly">
    <ion-button fill="clear" color="danger" (click)="clearFilters()">Clear Filters</ion-button>
    <ion-button fill="clear" color="secondary" (click)="loadFilters()">Load Filters</ion-button>
    <ion-button fill="clear" color="primary" (click)="saveFilters()">Save Filters</ion-button>   
  </ion-row>
</ion-list>
