<ion-grid class="ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding" size="1">
        <div class="tooltip">
          <ion-icon size="small" name="help-circle"></ion-icon>
          <span class="tooltiptext">Add to the list of countries you want to read news articles from.</span>
        </div> 
      </ion-col>

      <ion-col class="ion-activatable tappable" size="9" (click)="showFilter = !showFilter">
        <h4>Countries</h4>
      </ion-col>

      <ion-col size="2" class="ion-text-end ion-activatable tappable ion-text-right" (click)="showFilter = !showFilter">
        <ion-icon name="chevron-down-outline" [hidden]="showFilter"></ion-icon>
        <ion-icon name="chevron-up-outline" [hidden]="!showFilter"></ion-icon>
      </ion-col>
    </ion-row>

  <div [hidden]="!showFilter">
    <ion-row class="ion-justify-content-center" >
      <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange()">
        <ion-segment-button value="include">
          <ion-label>Include</ion-label>
        </ion-segment-button>
        <ion-segment-button value="exclude">
          <ion-label>Exclude</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
    
    <ion-row class="country-list ion-justify-content-start">
      <ion-col *ngFor="let country of countryFilterList; let i = index">
        <ion-badge (click)="removeWord(i)">
          {{ country }}<ion-icon name="close"></ion-icon>
        </ion-badge>
      </ion-col>
      <ion-col [hidden]="countryFilterList && countryFilterList.length !== 0">
        <p>Add countries to {{ segmentValue }} below:</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
        <ion-item>
          <ion-label>Suggested countries</ion-label>
          <ion-select multiple="true" [ngModel]="this.selectList" [disabled]="disableCountries" (ionChange)="selectChanged($event)">
            <ion-select-option *ngFor="let country of countryOptions">{{country.label}}</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-row>
    
    <form [formGroup]="countryOptionForm" (ngSubmit)="addWord()">
      <ion-row class="ion-no-margin ion-no-padding">
        <ion-input formControlName="countryInput" placeholder=" Type here..."></ion-input>
        <ion-button type="submit" [disabled]="countryOptionForm.invalid">Add</ion-button>
      </ion-row>
    </form>
  </div>
</ion-grid>