<ion-grid class="ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding" size="1">
        <div class="tooltip">
          <ion-icon size="small" name="help-circle"></ion-icon>
          <span class="tooltiptext">Add to the list of countries you want to read news articles from.</span>
        </div> 
      </ion-col>

      <ion-col class="ion-activatable tappable" size="9" (click)="showFilter = !showFilter">
        <h4><b>Countries</b></h4>
      </ion-col>

      <ion-col size="2" class="ion-text-end ion-activatable tappable ion-text-right" (click)="showFilter = !showFilter">
        <ion-icon name="chevron-down-outline" [hidden]="showFilter"></ion-icon>
        <ion-icon name="chevron-up-outline" [hidden]="!showFilter"></ion-icon>
      </ion-col>
    </ion-row>

  <div [hidden]="!showFilter">
    <ion-row class="ion-justify-content-center" >
      <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange()">
        <ion-segment-button class="primary" value="include">
          <ion-label>Include</ion-label>
        </ion-segment-button>
        <ion-segment-button class="secondary" value="exclude">
          <ion-label>Exclude</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>

    <ion-row class="word-list ion-justify-content-start">
      <ion-col class="ion-text-center" *ngFor="let country of displayList; let i = index">
        <ion-badge (click)="removeWord(i)">
          {{ country }}<ion-icon name="close"></ion-icon>
        </ion-badge>
      </ion-col>
      <ion-col [hidden]="displayList && displayList.length !== 0">
        <p>Add countries to {{ segmentValue }} below:</p>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>{{ segmentValue.charAt(0).toUpperCase() + segmentValue.slice(1) }} Countries:</ion-label>
      <ion-select 
      multiple="true" slot="end" [(ngModel)]="displayList" placeholder="Click to Add"
      [disabled]="disableCountries || filterLoading" (ionChange)="onSelectChange($event)">
        <ion-select-option *ngFor="let country of countryOptions">{{country.label}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-grid>