ion-content {
    --ion-background-color: var(--ion-color-medium);
}

ion-header {
    --ion-background-color: var(--ion-color-light);

    ion-toolbar {   

        ion-img.logo {
            max-width: 150px;
            max-height: 48px;
            margin: 0 auto;
        }
        
        ion-buttons {
            position: absolute;
        
            &.left-buttons {
                left: 0px;
            }
            
            &.right-buttons {
                right: 0px;
            }

            .hide-label {
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
}

#feed {
    padding-top: 0px;
    margin: 0 auto;
    max-width: 1080px;
    background-color: inherit;
}

.loading-spinner {
    --color : var(--ion-color-primary);
}

p {
    color: var(--ion-color-primary);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;

    padding-top: 0px;
    padding-top: 0px;

    &:hover {
        cursor: pointer;
    }
}

h2 {
    color: var(--ion-color-primary);
}

ion-card {
    padding: 5px 5px 0px 5px;
    margin: 5px 2px;
    min-width: 270px;
    max-width: 1080px;
    max-height: 568px;
    background-color: var(--ion-color-light);
}