ion-card {
    padding: 5px 5px 0px 5px;
    margin: 5px 2px;
    min-width: 270px;
    max-width: 1080px;

    @media screen and (min-width: 720px) {
        max-height: 720px;
    }
    max-height: 480px;

    ion-icon {
        font-size: 24px;
        &:hover {
            cursor: pointer;
        };
    };

    ion-slides {
        cursor: grab;
        
        &:active {
            cursor: grabbing;
        };

        ion-slide {
            margin-bottom: 10px;
        };

    };
    
    .title {
        margin: 0px;
        padding: 0px;

        &:hover {
            cursor: pointer;
        };

        h1 {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
            
            &.two-line-wrap {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* number of lines to show */
                line-height: 18px;        /* fallback */
                max-height: 36px;       /* fallback */
            };

            &.four-line-wrap {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4; /* number of lines to show */
                line-height: 18px;        /* fallback */
                max-height: 72px;       /* fallback */
            };
        };
    };

    .body {
        text-align: left;
        margin: 0px;

        h4 {
            font-size: 16px;
            color: #999;
            margin-bottom: 8px;
        };

        p {
            font-size: 16px;
            margin-left: 2px;
            margin-right: 2px; 
            white-space: pre-line;

            &.body-line-wrap {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 14; /* number of lines to show */
                line-height: 20px;        /* fallback */
                max-height: 280px;       /* fallback */
            };
        };

        ion-button {
            padding: 0px;
            margin: 0px;
        };
    };

    .img-container {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-img {
            @media screen and (min-width: 720px) {
                max-width: 480px;
                max-height: 280px;
            }
    
            max-width: 320px;
            margin: 2px auto;
            transition: 0.3s;
    
            &:hover {
                cursor: pointer;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            };
        }
    };

    .metrics-line-wrap {
        @media screen and (min-width: 720px) {
            line-height: 20px;
            max-height: 465px;
        }
        
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-height: 16px;
        max-height: 293px;

        ion-label {
            @media screen and (min-width: 720px) {
                font-size: 18px;
            }

            font-size: 14px;
        };
    };

    .metric-item {
        min-width: 100px;
        max-width: 200px;
        margin-bottom: 5px;        

        h4 {
            color: #999;
        };

        .clickable {
            &:hover {
                cursor: pointer;
            }
        }
    };

    .text-list-item {
        min-width: 100px;
        max-width: auto;
        margin-bottom: 10px;

        h4 {
            color: #999;
        };
    };

    .footer {
        ion-label {
            font-size: 14px;
            color: #999;
            &:hover {
                cursor: pointer;
            };
        };
    };
    
    ion-card-header {
        padding: 0;
        margin: 0;
    };
    
    ion-card-title {
        padding: 0;
        margin: 0;
    };

    .arrow-container {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            background: rgba(white, 0);

            &[disabled] {
                cursor: default;
                opacity: 0.4;
                pointer-events: none;
            }
        }
    }
};

.negative-range {
    transform: rotate(180deg);
};

ion-range {
    padding: 0;
    margin: 0;
    --knob-size: 0;
    pointer-events: none;
};

ion-row {
    margin: 0;
    padding: 0;
};

ion-col {
    margin: 0;
    padding: 0;
};

.list-label {
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
        cursor: pointer;
    };
};