ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin: 0 auto;
}

ion-content {
    --overflow: hidden;
}

.toolbar-buttons {
    position: absolute;
    left: 0px;
}

ion-chip {
    padding: 5px;
}