ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin: 0 auto;
}

ion-content {
    --overflow: hidden;
    --ion-background-color: var(--ion-color-light);
}

ion-header {
    --ion-background-color: var(--ion-color-light);
}

ion-tab-bar {
    --ion-background-color: var(--ion-color-medium);
}

.toolbar-buttons {
    position: absolute;
    left: 0px;
}

ion-chip {
    padding: 5px;
}