<ion-header>
  <ion-toolbar>
    <ion-buttons class="left-buttons" slot="start">
      <ion-chip color="primary" (click)="navTo('home', false)">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-chip>
    </ion-buttons>    
    
    <ion-title>
      <ion-img class="logo" src="../../assets/img/logo/neutrify-logo.png"></ion-img>
    </ion-title>

    <ion-buttons slot="end" class="right-buttons">
      <ion-label class="hide-label" color="primary">Main Menu</ion-label>
      <ion-menu-button menu="mainMenu" slot="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="create-account">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Create new account</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="sign-in">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Sign in</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reset-password">
        <ion-icon name="help"></ion-icon>
        <ion-label>Reset password</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
