ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin: 0 auto;
};

ion-content {
    --overflow: hidden;
};

ion-tab-bar {
    @media screen and (min-width: 1080px) {
        display: none;
    }

    display: inherit;
}