<div class="footer">
  <ion-grid>
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-evenly ion-text-center">
      <ion-col class="ion-no-margin">
        <ion-button class="ion-no-padding ion-no-margin" (click)="navToHome()" color="primary" fill="clear">Home</ion-button>       
      </ion-col>
      <ion-col class="ion-no-margin">
        <ion-button class="ion-no-padding ion-no-margin" (click)="navToTC()" color="primary" fill="clear">Terms & Conditions</ion-button>
      </ion-col>
      <ion-col class="ion-no-margin">
        <ion-button class="ion-no-padding ion-no-margin" (click)="navToPrivacy()" color="primary" fill="clear">Privacy Policy</ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-end">
      <p>2019-2020 Neutrify Ltd.</p>
    </ion-row>
  </ion-grid>
</div>