<div class="footer">
  <ion-grid>
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-end ion-text-center">
      <ion-col class="ion-no-margin ion-no-padding">
        <a routerLink="/home/welcome" routerLinkActive="active" ><p>Home</p></a>        
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding">
        <a routerLink="/home/terms-conditions" routerLinkActive="active" ><p>Terms & Conditions</p></a>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding">
        <a routerLink="/home/privacy-policy" routerLinkActive="active" ><p>Privacy Policy</p></a>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-end">
      <p>2019-2020 Neutrify Ltd.</p>
    </ion-row>
  </ion-grid>
</div>