ion-icon.card-icon {
    position: relative;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, 20%);
    width: 75px;
    height: 75px;
}

ion-icon {
    color: var(--ion-color-primary);
}

ion-img.image {
    width: 360px;
}

ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.email-section {
    background-color: var(--ion-color-primary);
}

.text-caption {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 2px;
}

.cta-button {
    max-width: 290px;
    margin: 0 auto;
}

.cta-section {
    background-color: #0084cc;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (max-width: 720px) {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.cta-card {
    align-self: flex-end !important;
}

.cta-img {
    align-self: center !important;

    @media screen and (max-width: 720px) {
        margin-left: auto;
    }

    ion-img {
        height: 400px;
        min-width: 300px;        
    }
}

.app-badge-container {
    margin-top: 20px;
    margin-bottom: 10px;

    img {
        height: 46px;
        width: 153px;    
    }
}

.feature-section {
    background-color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (max-width: 720px) {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.feature {
    max-width: 360px;
}

.graphic-section {
    background-color: #0084cc;
    min-width: 320px;
    padding-top: 25px;
    padding-bottom: 25px;

    ion-img {
        margin: 5px;
    }

    @media screen and (max-width: 720px) {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.privacy-footer {
    border: var(--ion-color-primary) solid 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    z-index: 1000;
}