.footer {    
    ion-label {
        font-size: 14px;
        color: #999;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
        max-width: 155px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.list-label-wrap {
            @media screen and (min-width: 720px) {
                max-width: 355px;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}