<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" [disabled]="updatingArticles">
    <ion-refresher-content  
      pullingIcon="chevron-down-outline"
      refreshingSpinner="circles"
      refreshingText="Loading articles from the last 3 days">
    </ion-refresher-content>
  </ion-refresher>

  <div [hidden]="displayArticles.length === 0 || updatingArticles" class="pulldown-text  ion-text-center">
    <p>Pull down to get the latest articles</p>
  </div>

  <ion-list id="feed">
    <div *ngIf="displayAd">
      <ng-adsense
        [adClient]="'ca-pub-1312649730148564'"
        [adSlot]="7499925030"
        [adFormat]="'fluid'"
        [display]="'display:block'"
        [layoutKey]="'-gw-3+1f-3d+2z'"
        [className]= "'ad-control'">
      </ng-adsense>
    </div>
    <app-article  [hidden]="displayArticles.length === 0" 
      *ngFor="let article of displayArticles; let i = index" id="{{i}}" attr.id="{{i}}"
      (articleExpanded)="handleArticleToggle($event, i)" [article]="article">
    </app-article>
    <div [hidden]="displayArticles.length !== 0 || updatingArticles" class="ion-text-center">
      <h2>Could not find any articles. It is likely your filters are too strict.</h2>
    </div>
    <div [hidden]="!updatingArticles" class="ion-text-center">
      <h2>Loading articles...</h2>
    </div>
  </ion-list>
      
  <ion-infinite-scroll (ionInfinite)="getNextPage($event)" threshold="5%" [disabled]="updatingArticles" [hidden]="nextToken === null">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more articles...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div [hidden]="nextToken !== null || updatingArticles || displayArticles.length === 0" class="ion-text-center">
    <h2>You're all caught up!</h2>
  </div>
</ion-content>
