<ion-grid class="authenticator">
  <app-sign-in *ngIf="view === 'signIn'" ></app-sign-in>
  <app-forgot-password *ngIf="view === 'forgotPassword'" (view)="changeView($event)"></app-forgot-password>

  <div class="auth-options">
    <ion-row *ngIf="view === 'signIn'" class="ion-justify-content-between ion-align-items-center">
      <ion-label>Forgotten your password?</ion-label>
      <ion-button size="small" color="primary" tappable (click)="view = 'forgotPassword'">Reset</ion-button>
    </ion-row>
  </div>
</ion-grid>