<ion-content #content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="ion-no-padding" style="margin:0 0 5px 0;"><b>Media Bias - Discover The 10 Biases That Always Mislead You</b></h1></ion-card-title>
        <ion-card-subtitle>By A. J. Oliver, 14th September 2020</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="img-container">
          <img src="assets/img/blog/media-bias.png" alt="Media Bias"/>
        </div>
        <br>

        <h2><b>The Many Forms of Media Bias</b></h2>
        <br>
        
        <p>
          Media bias is present in all news outlets and skews the way you think about the world. 
          The more you know about media bias, the less likely you will be misled by it. 
          The following list will help you identify and counter the many forms of media bias:
        </p>
        <br>

        <h2 id="gatekeeping-bias" attr.id="gatekeeping-bias"><b>1. Gatekeeping Bias</b></h2>
        <br>

        <p>
          Gatekeeping theory, first instituted by <a style="cursor: pointer;" (click)="openPage('https://www.nap.edu/read/9566/chapter/8')">Kurt Lewin in 1943</a>, 
          is the process of filtering through information in order to determine whether it is suitable for publication. 
          Gatekeeping occurs at every level of the media structure; from a reporter choosing which sources should be included in a story, 
          to editors deciding which stories are to be printed or covered. The owners of the company or even the advertisers can influence which stories are published. 
        </p>
        <br>

        <p>
          Gatekeeping is most often applied when political or controversial stories directly conflict with the news companies' ideology. 
          It can be hard to notice something that is absent if you do not read your news from multiple sources, so to make gatekeeping more obvious you should  
          <a style="cursor: pointer;" (click)="openPage('https://neutrify.news/blog/unbiased-news#balanced-coverage')">consume a balanced diet</a> of news.
        </p>
        <br>

        <h2 id="statement-bias" attr.id="statement-bias"><b>2. Statement Bias</b></h2>
        <br>

        <p>
          If you were to think about bias in general terms, you’d probably be thinking of statement bias. 
          For instance, if I were to claim that "<i><a style="cursor: pointer;" (click)="openPage('https://neutrify.news/')">Neutrify</a> is the best news aggregator</i>" 
          when I financially benefit from Neutrify’s success, I would purposely be using statement bias in an effort to drive traffic the website.
        </p>
        <br>

        <p>
          The media uses this type of bias both unconsciously and purposely. Lack of information or self-awareness is usually the reason for unconscious statement bias, 
          however some in the media may use it to influence how you think about a person or event. This is often referred to as 
          <a style="cursor: pointer;" (click)="openPage('https://neutrify.news/blog/unbiased-news#framing')">framing</a> and 
          <a style="cursor: pointer;" (click)="openPage('https://masscommtheory.com/theory-overviews/agenda-setting-theory/')">agenda setting</a>. 
          Statement bias is a generic term that often complements some of the other biases in this list.
        </p>
        <br>

        <h2 id="sensationalism-bias" attr.id="sensationalism-bias"><b>3. Sensationalism Bias</b></h2>
        <br>

        <p>
          Sensationalism is a technique the media uses catch your attention. Journalists choose to report on extraordinary stories and then 
          focus on the emotional aspects of them as much as possible. This can suppress the more newsworthy but less eye-catching stories, 
          leading the less aware among us to believe the world is <a style="cursor: pointer;" (click)="openPage('https://time.com/5125894/is-reading-news-bad-for-you/')">more eventful</a> than it really is. 
          Most news publications that are financially dependent on advertising use sensationalism to some extent, which is called adverting bias.
        </p>
        <br>

        <h2 id="advertising-bias" attr.id="advertising-bias"><b>4. Advertising Bias</b></h2>
        <br>

        <p>
          Journalists may be pressured by advertisers to carefully select their content so that it pleases or at least does not conflict with an advertiser’s wishes, 
          or else they lose the money that the advertisers pay them. The advertisers may do so simply because they feel the usual topics covered are not popular enough 
          to gain a wider audience. This leads journalists to cover less newsworthy but more sensational and attention-grabbing events.
        </p>
        <br>

        <p>
          Another way an advertiser contributes to media bias is when they attempt to force news agencies to cover less controversial or politically sensitive topics. 
          This happened not long ago with <a style="cursor: pointer;" (click)="openPage('https://www.nytimes.com/2020/06/12/business/media/tucker-carlson-fox-news-advertisers.html')">
          Tucker Carlson's coverage</a> of the 2020 BLM civil unrest.
        </p>
        <br>

        <div class="img-container">
          <ion-img src="assets/img/blog/misinformation.png" alt="Misinformation"></ion-img>
        </div>
        <br>

        <h2 id="concision-bias" attr.id="concision-bias"><b>5. Concision Bias</b></h2>
        <br>

        <p>
          In order to better communicate ideas, we often summarize or label them. This means ideas that are already known to us are easier to communicate because 
          they do not require explaining, which allows journalists to write stories that are more impressionable and concise.   
        </p>
        <br>

        <p>
          The opposite can be said of unconventional ideas or views. Before you can learn new ideas or views a person has to already know a certain level of prerequisite information, 
          or at least they need to be willing to learn it. This make writing articles about the unknown more difficult and more time consuming, 
          as well as less accessible to a wider audience. This leads to less conventional ideas having lesser coverage. 
        </p>
        <br>

        <p>
          Concision bias can also be used to intentionally oversimplify complex views so they can be ridiculed and de-legitimised. 
          You can often see this when the media writes about climate change; those who have a nuanced, 
          skeptical view of the issue are labeled ‘climate change deniers’ because it’s easier to have a more concise yet inaccurate label than
          properly represent their perspectives with a lengthy but more accurate description.  
        </p>
        <br>

        <h2 id="mainstream-bias" attr.id="mainstream-bias"><b>6. Mainstream Bias</b></h2>
        <br>

        <p>
          Most news media tend to report on what they consider to be within the ‘mainstream’. 
          What constitutes mainstream news is largely determined by what is popular with a general audience, 
          but sometimes media outlets try to shift public opinion by slowly redefining what the mainstream is. 
        </p>
        <br>

        <p>
          To give an example: 10 years ago, in the UK, it was exceedingly rare for someone to preface their statements with their immutable characteristics during a debate e.g. 
          "As a straight white male..." or "As an elderly gay woman of African descent...". 
          Yet at some point, perhaps after numerous columnists and news anchors began pushing this language, it became generally acceptable. 
          It would be hard to claim that the media is solely responsible for shifting mainstream opinion, but they do play an important role in the normalisation of new ideas. 
        </p>
        <br>

        <h2 id="structural-bias" attr.id="structural-bias"><b>7. Structural Bias</b></h2>
        <br>

        <p>
          Over time a media organisation (in whole or sections of it), establish routines that improve the efficiency of their reporting. 
          Once these routines have set in, they can negatively affect the coverage of the news. 
        </p>
        <br>

        <p>
          A news agency may routinely obtain their stories from a small group of reporters that they trust. 
          These reporters cover what they know is going to get picked up by their employer or cover stories from their perspective. 
          These journalists may ask witnesses skewed questions, or do not report information they don’t consider newsworthy.
        </p>
        <br>

        <p>
          The details of a story a journalist collects often depends on both their personal and professional characteristics, 
          such as their education or whether or not they live in a city. Imagine how a reporter who lives and works in a multicultural city might cover a story about 
          immigration differently than a reporter who lives and works in a small, closely knit rural community near the border. 
        </p>
        <br>

        <p>
          As far as the media outlet is concerned their reporters are providing them with accurate news coverage. 
          This can make the media to seem out of touch with part of their audience. 
        </p>
        <br>

        <h2 id="false-balance" attr.id="false-balance"><b>8. False Balance</b></h2>
        <br>

        <p>
          This is when news agencies provide even sided coverage of an idea or issue when theevidence is disproportionately against one side. 
          Media organisations such as the <a style="cursor: pointer;" (click)="openPage('https://www.bbc.co.uk/news')">BBC</a> 
          often get accused of this when it comes to contentious issues such as climate change; 
          should the BBC give equal coverage to both sides of the debate? Who gets to judge the disproportionality of an issue? 
          What type of evidence should count towards the disproportionality? The line between false balance and impartiality is a close one, 
          making it hard to work out if a false balance is truly present.
        </p>
        <br>

        <p>
          This bias can come from an overly enthusiastic desire to fully represent all points of view, 
          or it can come from someone who wants their less evidential view equally represented.
        </p>
        <br>

        <h2 id="ventriloquism" attr.id="ventriloquism"><b>9. Ventriloquism</b></h2>
        <br>

        <p>
          Ventriloquism is still alive and well in the age of information. Authors still write articles that twist quotes and 
          cable tv anchors purposely show video clips that are out of context. It could be argued that it is even more prevalent today because of the ease at which anyone can 
          spread information, thanks to social media. 
        </p>
        <br>

        <p>
          This technique is used by those wish to manipulate the opinions of their audience, to their benefit. 
          A disingenuous journalist can score points by weaving their own story using the ‘evidence’ they have misquoted.  
        </p>
        <br>

        <div class="img-container">
          <ion-img src="assets/img/blog/puppet-reading-news.png" alt="Puppet Reading the News"></ion-img>
        </div>
        <br>

        <h2 id="speculative-content" attr.id="speculative-content"><b>10. Speculative Content</b></h2>
        <br>

        <p>
          By giving as little coverage as possible to what has happened in a story, the media can use misdirection to focus their audience's attention to what “could” or 
          “might” happen. This bias occurs when the author doesn’t want to label their article as analysis or opinion. 
        </p>
        <br>

        <p>
          By not informing the audience that you are speculating you can deceive them into believing that you are telling them what “will” happen. 
          The author purposely blurs the line between truth and opinion, usually because the opinion doesn’t hold up when faced with the truth.  
        </p>
        <br>

        <p>
          If after reading this article you feel ready to take on biased news, perhaps you'd like to try Neutrify's <b>free</b> news aggregator, 
          which helps you wrestle back control of your news feed. You don't even need to sign up for an account!
        </p>
        <br>

        <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
          <div style="width: 100%;">
            <ion-button expand="full" color="primary" (click)="navTo('/app')"><b>Try Out Neutrify Today</b></ion-button>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
