@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('src/assets/fonts/OpenSans-BoldItalic.ttf');
}