<ion-content #content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1 class="ion-no-padding" style="margin:0 0 5px 0;"><b>Unbiased News - 5 Tips To Help You Become Better Informed</b></h1></ion-card-title>
        <ion-card-subtitle>By Aaron Oliver, 14th September 2020</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="img-container">
          <img src="assets/img/blog/unbiased-news.png" alt="Unbiased News"/>
        </div>
        <br>

        <h2><b>Unbiased News - A Fantasy?</b></h2>
        <br>
        
        <p>
          <b>Here is the truth about the news:</b> the vast majority of news reporting is biased to some extent.
        </p>
        <br>

        <p>
          That doesn't mean you should just give up on an article because it's probably biased - it can still contain useful information. 
          Most articles can give you a window into how others think about a topic or possibly reveal a new side to the story that wouldn’t have occurred to you. 
        </p>
        <br>

        <p>
          With this in mind, the following 5 tips should help you peel away the layers of bias and become better informed.
        </p>
        <br>

        <h2 id="media-bias" attr.id="media-bias"><b>1. Recognising Media Bias</b></h2>
        <br>

        <p>
          You won't be shocked to discover that news agencies are run by people with opinions just like you or me. 
          It is these opinions that influence how stories are reported on. I will give a brief outline 
          of how to spot the most prevalent types, as I've written a <a style="cursor: pointer;" (click)="openPage('https://neutrify.news/blog/media-bias')">full list</a> before.
        </p>
        <br>

        <p>
          <b>Sensationalism Bias.</b> If you are shocked or provoked by an article, it may be because the author has specifically chosen 
          an extraordinary story that is exciting, instead of covering a less eye-catching but more newsworthy article. These articles may give you an <a style="cursor: pointer;" (click)="openPage('https://time.com/5125894/is-reading-news-bad-for-you/')">exaggerated view</a> of the world.
        </p>
        <br>

        <p>
          <b>Statement Bias.</b> This can be found when articles are written in such a way that they either do not take a neutral stance on a story or 
          the author skews the story in favour of their own opinion. This is a common form of bias that can be both obvious or deceptive. 
          As an example, take this (fake) headline about a scientific study into the cause of hair loss, conducted by a doctor: 
        </p>
        <br>

        <p class="ion-text-center"><i>'Conspiracy theorist' believes hair loss is caused by air pollution</i></p>
        <br>

        <p>
          This headline negatively portrays the doctor as untrustworthy by branding them a 'conspiracy theorist', 
          as well as dismissing their scientific study as just a belief. The statement: 'hair loss is caused by air pollution', 
          could also be a gross simplification of the doctor's conclusion (known as <a style="cursor: pointer;" (click)="openPage('https://neutrify.news/blog/media-bias#concision-bias')">concision bias</a>).
        </p>
        <br>

        <p>
          <b>Selection (Gatekeeping) Bias.</b> This occurs when the people in charge of a media company instruct their journalists to only cover 
          certain news stories that portray their political cause in a positive light. This bias is difficult to spot if you do not read articles from multiple news sources.
        </p>
        <br>

        <h2 id="balanced-coverage" attr.id="balanced-coverage"><b>2. Consume a Balanced Diet</b></h2>
        <br>

        <p>
          When you want to find the truth behind a story, you should select articles from a variety of sources that hold opposing views. 
          Should these articles come to different conclusions, you should assume that the truth can be found by taking the middle ground.
          By doing this you are essentially cancelling out the bias prevalent in either article.
        </p>
        <br>

        <p>
          The easiest way of doing this is by using a <a style="cursor: pointer;" (click)="openPage('https://neutrify.news/app')">news aggregator</a> that allows you to choose from a variety of sources and 
          provides you with enough information for you to be able to decide which way the article's bias skews.
        </p>
        <br>

        <h2 id="emotional-headlines" attr.id="emotional-headlines"><b>3. Avoid Emotional Headlines</b></h2>
        <br>

        <div class="img-container">
          <ion-img src="assets/img/blog/emotional-woman.png" alt="Emotional Woman"></ion-img>
        </div>
        <br>

        <p>
          In order to generate advertising revenue, news agencies require people to click on their articles. 
          One of the most effective ways of catching someone's attention is by appealing to their emotions. Knowing this, authors tend to write headlines 
          that are as evocative and sensational as possible. This is often referred to as <a style="cursor: pointer;" (click)="openPage('https://neutrify.news/blog/media-bias#advertising-bias')">advertising bias</a>. 
        </p>
        <br>

        <p>
          In most cases, this choice of language betrays the poor quality of the article. Consider avoiding these articles or be prepared to take them with a pinch of salt.
        </p>
        <br>

        <h2 id="op-eds" attr.id="op-eds"><b>4. Beware Op-Eds</b></h2>
        <br>

        <p>
          Most news sites publish opinion pieces written by celebrities and/or political activists. 
          These authors often represent the fringe of mainstream thought and their writing may raise your blood pressure. 
        </p>
        <br>

        <p>
          No qualifications are needed to write online news articles. Anyone can do it, regardless of whether they adhere to a journalistic code of ethics. 
          As of late, even prestigious media organisations have succumbed to publishing articles that are unashamedly shoddy pieces of journalism. 
        </p>
        <br>

        <h2 id="framing" attr.id="framing"><b>5. Understand Framing</b></h2>
        <br>

        <p>
          The news media possesses a grand power over their audiences. They can not only tell you what to think about, 
          but they also tell you how you should think about it. The <a style="cursor: pointer;" (click)="openPage('https://masscommtheory.com/theory-overviews/framing-theory/')">theory</a> 
          is that the media can focus the public's attention on certain events ('the agenda') and 
          then present that event in such a way as to influence how you process it ('the frame').
        </p>
        <br>

        <p>
          Framing requires the conscious application of selection (gatekeeping) bias by journalists and others. Framing techniques can range from 
          popular memes that simplify a message into something more memorable and relatable, to grand narratives such as good versus evil that appeal to our morality.
        </p>
        <br>

        <div class="img-container">
          <ion-img src="assets/img/blog/fiery-but-peaceful.jpg" alt="Framing"></ion-img>
        </div>
        <br>

        <p>
          Intentionally or not, the satirical meme above is trying to frame how we think about media attempts at framing the news. 
          Not all framing is as preposterous as this meme, but it demonstrates how effective the media think framing is, even if they have to bend reality to do so.
          Understanding all of this puts you at an advantage when you are reading through articles that are trying to manipulate how you think.
        </p>
        <br>

        <p>
          If after reading this article you feel ready to take on biased news, perhaps you'd like to try Neutrify's <b>free</b> news aggregator, 
          which helps you wrestle back control of your news feed. You don't even need to sign up for an account!
        </p>
        <br>

        <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
          <div style="width: 100%;">
            <ion-button expand="full" color="primary" (click)="navTo('/app')"><b>Try Out Neutrify Today</b></ion-button>
          </div>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
