<app-blog-header></app-blog-header>

<ion-content>
    <div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1 class="ion-no-padding" style="margin:0 0 5px 0;"><b>Unbiased News - 3 Tips To Help You Become Better Informed</b></h1></ion-card-title>
      <ion-card-subtitle>By Aaron Oliver, September 2020</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="img-container">
        <img src="assets/img/blog/good-newspaper-640px-min.png" alt="How Do I Become Better Informed?"/>
      </div>
      <br>

      <p>
        Here is the truth about the news: all news articles inevitably contains bias, and there is not much you can do to change it,
        other than arming yourself with knowledge to combat it.
      </p>
      <br>

      <p>
        You shouldn’t give up on an article just because you recognise it to be biased - it can still contain useful information. 
        Those articles can give you a window into how others think about a topic or possibly reveal a new side to the story that wouldn’t have occurred to you.  
      </p>
      <br>

      <p>With this in mind, here are 3 tips to help you become better informed:</p>
      <br>

      <h2><b>1. Consume a Balanced Diet</b></h2>
      <br>

      <p>
        When you want to find the truth behind a story, you should select articles from a variety of sources that hold opposing perspectives. 
        Once you have read these conflicting articles, compare them. You should assume that the truth can be found by taking the middle ground in any dispute.
      </p>
      <br>

      <p>
        The easiest way of doing this is by using a news aggregator that allows you to choose from a variety of sources and 
        provides you with enough information for you to be able to decide whether the article is suitable or not.
      </p>
      <br>

      <h2><b>2. Avoid Emotional Headlines</b></h2>
      <br>

      <p>
        In order to generate advertising revenue, news agencies require people to click on their articles. 
        One of the most effective ways of catching someone's attention is by appealing to their emotions. Knowing this, authors tend to write headlines 
        that are as evocative and sensational as possible. 
      </p>
      <br>

      <p>
        In most cases, this choice of language betrays the poor quality of the article. Consider avoiding these articles or be prepared to take them with a pinch of salt.
      </p>
      <br>

      <h2><b>3. Beware Op-Eds</b></h2>
      <br>

      <p>
        Most news sites publish opinion pieces written by celebrities and/or political activists. 
        These authors often represent the fringe of mainstream thought and will seriously raise your blood pressure. 
      </p>
      <br>

      <p>
        Remember that is no qualification needed to write online news articles. 
        Anyone can do it, regardless of whether they adhere to a journalistic code of ethics. 
        As of late, even prestigious media organisations have succumbed to publishing articles that are unashamedly shoddy pieces of journalism. 
      </p>
      <br>

      <ion-row class="ion-no-padding ion-no-margin ion-justify-content-center">
        <div style="width: 100%;">
          <ion-button expand="full" color="primary" (click)="navTo('/app')"><b>Try Out Neutrify Today</b></ion-button>
        </div>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
