
<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
  <div class="form-group" [hidden]="sentResetEmail">
    <p>Enter the email address of the account with the password you need reset.</p>
    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" type="text" placeholder="Email" formControlName="email" required></ion-input>
      </ion-item>
      <span *ngIf="f.email.invalid && f.email.touched">
        <span *ngIf="f.email.errors.email">
          <ion-text color="danger">This email address is invalid.</ion-text>
        </span>
        <span *ngIf="f.email.errors.required">
          <ion-text color="danger">You must enter an email address.</ion-text>
        </span>
      </span>
    </div>

    <div class="form-item">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button class="form-control" (click)="forgotPassword()" expand="full" [disabled]="f.email.invalid || buttonClicked">Reset</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <span *ngIf="invalidEmailDetails">
          <ion-text color="danger">Could not find this email. Make sure you have the one.</ion-text>
        </span>
      </ion-row>
    </div>

    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-label>Just remembered it?</ion-label>
      <ion-button size="small" color="primary" tappable (click)="changeView('signIn')">Go Back</ion-button>
    </ion-row>
  </div>

  <div class="form-group" *ngIf="sentResetEmail">
    <p>Copy and paste the code from verification email sent to {{this.authService.forgotPasswordEmail}}, and then choose a new password.</p>
    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" type="text" placeholder="Verification code" formControlName="vefCode" required></ion-input>
      </ion-item>
      <span *ngIf="f.vefCode.invalid && f.vefCode.touched">
        <span *ngIf="f.vefCode.errors.required">
          <ion-text color="danger">Please enter the code.</ion-text>
        </span>
      </span>
    </div>

    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" [type]="passwordType" placeholder="Password" formControlName="password" required></ion-input>
        <ion-icon name="eye" position="fixed" slot="end" tappable (click)="togglePasswordType()"></ion-icon>
      </ion-item>
      <span *ngIf="f.password.invalid && f.password.touched">
        <span *ngIf="f.password.errors.required">
          <ion-text color="danger">You must enter a password.</ion-text>
        </span>
        <span *ngIf="f.password.errors.minlength">
          <ion-text color="danger">Password must be greater than 7 characters.</ion-text>
        </span>
        <span *ngIf="f.password.errors.strong">
          <ion-text color="danger">Password must have an uppercase character & a number.</ion-text>
        </span>
      </span>
    </div>

    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" [type]="confirmPasswordType" placeholder="Re-enter password" formControlName="confirmPassword" required></ion-input>
        <ion-icon name="eye" position="fixed" slot="end" tappable (click)="toggleConfirmPasswordType()"></ion-icon>
      </ion-item>
      <span *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched">
        <span *ngIf="f.confirmPassword.errors.required">
          <ion-text color="danger">You must re-enter your password.</ion-text>
        </span>
        <span *ngIf="f.confirmPassword.errors.mustMatch">
          <ion-text color="danger">The passwords you've entered don't match.</ion-text>
        </span>
      </span>
    </div>

    <div class="form-item">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button class="form-control" type="submit" expand="full" [disabled]="f.password.invalid || f.confirmPassword.invalid || f.vefCode.invalid || buttonClicked">Reset password</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <span *ngIf="invalidCode">
          <ion-text color="danger">Could not reset your password. Make sure you have the correct code.</ion-text>
        </span>
      </ion-row>
    </div>
  </div>
</form>