<ion-content>
    <div class="ion-padding">
      <ion-text>
        <h2>Thanks for considering giving Neutrify a try</h2>
        <p>
          <b>Neutrify is not quite finished yet.</b> 
        </p>
        <p>
          But we'd like to ask you a few questions
          if you could spare a minute.
        </p>
      </ion-text>
    </div>
  
    <form>
      <div class="form-group">
          <ion-list lines="none">
              <ion-item>
                <ion-label></ion-label>
                <ion-input class="form-control"></ion-input>
              </ion-item>
            </ion-list>
      </div>
      <div class="form-group">
          <ion-list lines="none">
              <ion-item>
                <ion-label></ion-label>
                <ion-input class="form-control"></ion-input>
              </ion-item>
            </ion-list>
      </div>
      <div class="form-group">
          <ion-list lines="none">
              <ion-item>
                <ion-label></ion-label>
                <ion-input class="form-control"></ion-input>
              </ion-item>
            </ion-list>
      </div>
      
    </form>
  </ion-content>
  