<ion-content>
  <div class="container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
      <div class="form-group" [hidden]="showSubmit">
        <p>To <b>reset your password</b>, please enter the email address associated with your account.</p>
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" type="text" placeholder="Email" formControlName="email" required oninput="this.value = this.value.toLowerCase().trim()"></ion-input>
          </ion-item>
          <span *ngIf="f.email.invalid && f.email.touched">
            <span *ngIf="f.email.errors.email">
              <p class="error">This email address is invalid.</p>
            </span>
            <span *ngIf="f.email.errors.required">
              <p class="error">You must enter an email address.</p>
            </span>
          </span>
        </div>
    
        <div class="form-item">
          <ion-item lines="none">
            <button class="form-control submit-button" (click)="resetPassword()" [disabled]="f.email.invalid || showSubmit || loading" (keydown.enter)="resetPassword()">Reset</button>
          </ion-item>

          <span *ngIf="invalidEmailDetails">
            <p class="error">Could not find this email address. Make sure you have the correct one.</p>
          </span>
        </div>
      </div>
    
      <div class="form-group" *ngIf="showSubmit">
        <p>A verification email has been sent to {{this.authService.resetPasswordEmail}}. Check your junk/spam folder.</p>
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" type="text" placeholder="Verification code" formControlName="vefCode" required oninput="this.value = this.value.trim()"></ion-input>
          </ion-item>
          <span *ngIf="f.vefCode.invalid && f.vefCode.touched">
            <span *ngIf="f.vefCode.errors.required">
              <p class="error">Please enter the code.</p>
            </span>
          </span>
        </div>
    
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" [type]="passwordType" placeholder="New password" formControlName="password" required oninput="this.value = this.value.trim()"></ion-input>
            <ion-icon name="eye" position="fixed" slot="end" tappable (click)="togglePasswordType()"></ion-icon>
          </ion-item>
          <span *ngIf="f.password.invalid && f.password.touched">
            <span *ngIf="f.password.errors.required">
              <p class="error">You must enter a password.</p>
            </span>
            <span *ngIf="f.password.errors.minlength">
              <p class="error">Password must be greater than 7 characters.</p>
            </span>
            <span *ngIf="f.password.errors.strong">
              <p class="error">Password must have an uppercase character & a number.</p>
            </span>
          </span>
        </div>
    
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" [type]="confirmPasswordType" placeholder="Re-enter password" formControlName="confirmPassword" required oninput="this.value = this.value.trim()"></ion-input>
            <ion-icon name="eye" position="fixed" slot="end" tappable (click)="toggleConfirmPasswordType()"></ion-icon>
          </ion-item>
          <span *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched">
            <span *ngIf="f.confirmPassword.errors.required">
              <p class="error">You must re-enter your password.</p>
            </span>
            <span *ngIf="f.confirmPassword.errors.mustMatch">
              <p class="error">The passwords you've entered don't match.</p>
            </span>
          </span>
        </div>
    
        <div class="form-item">
          <ion-item lines="none">
            <button class="form-control submit-button" type="submit" [disabled]="f.password.invalid || f.confirmPassword.invalid || f.vefCode.invalid || loading" (keydown.enter)="resetPasswordSubmit()">Reset password</button>
          </ion-item>

          <span *ngIf="invalidCode">
            <p class="error">Could not reset your password. Make sure you have the correct code.</p>
          </span>
        </div>
      </div>
    </form>
  
    <div class="auth-options">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-label>Remembered your password?</ion-label>
        <ion-button size="small" (click)="navToSignIn()">Sign In</ion-button>
      </ion-row>
    </div>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <ion-spinner class="spinner" name="crescent" ></ion-spinner>
  </div>
</ion-content>

