<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-chip color="primary" (click)="backToHome()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-chip>
    </ion-buttons>

    <ion-title>
      <ion-img class="logo" src="../../assets/img/logo/neutrify-logo-v2.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-create-account></app-create-account>
  <!-- <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="create-account">
        <h5>Create Account</h5>
      </ion-tab-button>

      <ion-tab-button tab="setup-billing">
        <h5>Setup Billing</h5>
      </ion-tab-button>

      <ion-tab-button tab="confirm-details" [disabled]="!signupService.setupBillingComplete">
        <h5>Confirm Details</h5>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
