<ion-content>
  <div class="container">
    <ion-grid>
      <div class="detail">
        <h3 class="ion-no-margin ion-no-padding ion-text-center">Details</h3>
        <p>Some information about your subscription.</p>
        <ion-row class="ion-text-left">
          <ion-col size="4">
            <p><b>Item label:</b></p>
          </ion-col>
          <ion-col size="8">
            <p>Data</p>
          </ion-col>
        </ion-row>
      
        <ion-row class="ion-text-left">
          <ion-col size="4">
            <p><b>Item label:</b></p>
          </ion-col>
          <ion-col size="8">
            <p>Data</p>
          </ion-col>
        </ion-row>
  
        <ion-row class="ion-text-left">
          <ion-col size="4">
            <p><b>Item label:</b></p>
          </ion-col>
          <ion-col size="8">
            <p>Data</p>
          </ion-col>
        </ion-row>
      </div>
      <br>
  
      <div>
        <h3 class="ion-no-margin ion-no-padding ion-text-center">Actions</h3>
        <p>Some of the actions you can take regarding your subscription.</p>
  
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip class="action-chip" color="primary" (click)="startSubscription">
              <ion-icon name="checkmark"></ion-icon>
              <ion-label>Start Subscription</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col>
            <ion-chip class="action-chip" color="danger" (click)="cancelSubscription">
              <ion-icon name="close-circle"></ion-icon>
              <ion-label>Cancel Subscription</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </div>
      <br>
  
    </ion-grid>
  </div>
</ion-content>

