<div id="skeleton-feed">  
  <ion-card class="ion-padding skeleton-card" *ngFor="let card of numberOfCards">
    <div class="skeleton-title">
      <ion-row class="ion-justify-content-between">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 5%;"></ion-skeleton-text>
      </ion-row>
      <ion-skeleton-text animated [hidden]="platformWidth >= 720"></ion-skeleton-text>
    </div>
  
    <ion-row class="ion-justify-content-between skeleton-footer">
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="text-align: end"></ion-skeleton-text>
    </ion-row>
  </ion-card>
</div>