ion-header {
    --ion-background-color: var(--ion-color-primary);
    --ion-toolbar-background: var(--ion-color-primary);

    ion-toolbar {   
        
        ion-img.logo {
            max-width: 150px;
            max-height: 48px;
            margin: 0 auto;
        }
        
        ion-buttons {
            position: absolute;

            ion-searchbar {
                @media screen and (max-width: 1023px) {
                    display: none;
                }

                min-width: 260px;
                max-width: 280px;
                height: 38px;
                padding: 0px;
                margin-left: 10px;
            }
            
            &.left-buttons {
                left: 0px;
            }
            
            &.right-buttons {
                right: 0px;
            }

            .hide-label {
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
}

ion-content {
    --ion-background-color: var(--ion-color-medium);
}