ion-header {
    --ion-background-color: var(--ion-color-primary);
    --ion-toolbar-background: var(--ion-color-primary);

    ion-toolbar {   

        ion-img.logo {
            max-width: 150px;
            max-height: 48px;
            margin: 0 auto;
        }
        
        ion-buttons {
            position: absolute;

            
            &.left-buttons {
                left: 0px;
            }
            
            &.right-buttons {
                right: 0px;
            }

            .hide-label {
                @media screen and (max-width: 720px) {
                    display: none;
                }
            }

            .hide-icon {
                @media screen and (max-width: 360px) {
                    margin-left: -8px;
                    padding-left: 0px; 
                }
            }
        }
    }
}

ion-content {
    --ion-background-color: var(--ion-color-medium);
}