ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin: 0 auto;
};

.hide-label {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

ion-content {
    --overflow: hidden;
};

#skeleton-feed {
    padding-top: 0px;
    margin: 0 auto;
    max-width: 1080px;
};

.skeleton-card {
    padding: 5px 5px 0px 5px;
    margin: 5px 2px;
    min-width: 270px;
    max-width: 1080px;

    .skeleton-title ion-skeleton-text {
        line-height: 18px;
        width: 80%;
        text-align: start;
    };

    .skeleton-footer {
        ion-skeleton-text {
            line-height: 14px;
            width: 30%;
        }
    };
};