<ion-header>
  <ion-toolbar class="ion-align-items-center">
    <ion-buttons slot="start" class="left-buttons" *ngIf="filtersInitStatus">
      <ion-button (click)="toggleMenu()" color="medium" *ngIf="!menuStatus || platformWidth < 720">
        <ion-icon name="options" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label class="hide-label" *ngIf="!menuStatus || platformWidth < 720" color="medium"><b>Filter Menu</b></ion-label>

      <ion-searchbar *ngIf="platformWidth > 942" [ngStyle]="{'margin-left': menuStatus ? '5px': '25px'}" type="search" debounce="1000" inputmode="search" 
      spellcheck="true" autocorrect="on" color="medium" placeholder="Search here..." (ionChange)="search($event)" value="{{ searchTerm }}"></ion-searchbar>

      <ion-button *ngIf="platformWidth < 943" class="hide-icon" (click)="showSearchBar($event)" color="medium">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label class="hide-label" *ngIf="platformWidth < 943" color="medium"><b>Search</b></ion-label>
    </ion-buttons>
    
    <ion-title>
      <ion-img class="logo" src="../../assets/img/logo/neutrify-logo-light.png"></ion-img>
    </ion-title>

    <ion-buttons slot="end" class="right-buttons" *ngIf="filtersInitStatus">
      <ion-label class="hide-label" color="medium"><b>Main Menu</b></ion-label>
      <ion-menu-button menu="mainMenu" color="medium" slot="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row [hidden]="!isFeedUpdating" class="ion-justify-content-center">
    <ion-skeleton-text animated style="width: 240px; line-height: 16px; margin-top: 5px;"></ion-skeleton-text>
  </ion-row>

  <app-news-feed *ngIf="filtersInitStatus"></app-news-feed>
  <app-skeleton-feed [hidden]="!isFeedUpdating"></app-skeleton-feed>

</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="showRefreshFab" [disabled]="!filtersInitStatus || filtersLoading" [@btnInBottom]>
  <ion-fab-button (click)="doRefresh()">
    <ion-icon size="large" name="refresh"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="center" horizontal="start" slot="fixed" *ngIf="!filtersSaved" [@btnInLeft]>
  <ion-fab-button (click)="saveFilters()" color="primary" [disabled]="!filtersInitStatus || filtersLoading">
    <ion-icon size="large" name="save"></ion-icon>
  </ion-fab-button>

  <ion-fab-button (click)="loadFilters()" color="danger" style="margin-top: 10px;" [disabled]="!filtersInitStatus || filtersLoading">
    <ion-icon size="large" name="close-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>