ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin: 0 auto;
};

.hide-label {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

ion-content {
    --overflow: hidden;
};