<ion-header>
  <ion-toolbar>
    <ion-buttons class="left-buttons" slot="start">
      <ion-chip color="primary" (click)="navTo('home', false)">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-chip>
    </ion-buttons>

    <ion-title>
      <ion-img class="logo" src="../../assets/img/logo/neutrify-logo.png"></ion-img>
    </ion-title>

    <ion-buttons slot="end" class="right-buttons">
      <ion-label class="hide-label" color="primary">Main Menu</ion-label>
      <ion-menu-button menu="mainMenu" slot="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>