<ion-header>
  <ion-toolbar>
    <ion-buttons class="left-buttons" slot="start">
      <ion-chip (click)="navTo('home', false)">
        <ion-icon color="light" name="home"></ion-icon>
        <ion-label color="light"><b>Home</b></ion-label>
      </ion-chip>
    </ion-buttons>

    <ion-title>
      <ion-img class="logo" src="../../assets/img/logo/neutrify-logo-light.png"></ion-img>
    </ion-title>

    <ion-buttons slot="end" class="right-buttons">
      <ion-label class="hide-label" color="light"><b>Main Menu</b></ion-label>
      <ion-menu-button menu="mainMenu" color="light" slot="end"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>