ion-searchbar {
    width: 40%;
    min-width: 220px;

    @media screen and (max-width: 420px) {
        padding: 6px 0px;
        min-width: 200px;
    }
}

ion-item {
    &.use-filters-item {
        width: 220px;
    }
}

.container {
    margin: 0px 8px 8px;
    padding-top: 5px;
    background-color: var(--ion-color-primary);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.dismiss-icon {
    position: absolute;
    top: -2px;
    right: 0px;
    font-size: 24px;
    z-index: 1000;

    &:hover {
        cursor: pointer; 
    }
}