<div class="container">

  <ion-icon class="dismiss-icon" name="close-circle" (click)="dismiss()" color="danger"></ion-icon>

  <form [formGroup]="searchBarForm">
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-evenly ion-align-items-center">
      <ion-searchbar #searchBarCtrl formControlName="searchTerm" (keyup.enter)="onEnter()" spellcheck="true" color="light" 
      placeholder="Search..." (ionClear)="onClear()" value="{{ searchTerm }}"></ion-searchbar>
  
      <ion-button (click)="search()" color="success" [disabled]="!f.searchTerm.valid">
        <ion-icon name="caret-forward" size="large" color="light"></ion-icon>
      </ion-button>
  
      <ion-item class="use-filters-item ion-tappable"  lines="none" color="primary">
        <ion-checkbox slot="end" formControlName="useFilters" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
        <ion-label color="light"><b>Use With Filters?</b></ion-label>
      </ion-item>
    </ion-row>
  </form>
</div>