<ion-content>
  <div class="container">
    <form  [formGroup]="signInForm" (ngSubmit)="signIn()">
      <div class="form-group">
        <p>Sign in to your account.</p>
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" type="text" placeholder="Email" formControlName="email" required></ion-input>
          </ion-item>
          <span *ngIf="f.email.invalid && f.email.touched">
            <span *ngIf="f.email.errors.email">
              <ion-text color="danger">This email address is invalid.</ion-text>
            </span>
            <span *ngIf="f.email.errors.required">
              <ion-text color="danger">Please enter an email address.</ion-text>
            </span>
          </span>
        </div>
        
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" [type]="passwordType" placeholder="Password" formControlName="password" required></ion-input>
            <ion-icon name="eye" position="fixed" slot="end" tappable (click)="togglePasswordType()"></ion-icon>
          </ion-item>
          <span *ngIf="f.password.invalid && f.password.touched">
            <span *ngIf="f.password.errors.required">
              <ion-text color="danger">Please enter a password.</ion-text>
            </span>
            <span *ngIf="f.password.errors.minlength">
              <ion-text color="danger">Password must be greater than 7 characters.</ion-text>
            </span>
          </span>
        </div>
    
        <div class="form-item">
          <ion-row class="ion-justify-content-center">
            <ion-col size="12">
              <button class="form-control submit-button" type="submit" [disabled]="this.signInForm.invalid || buttonClicked" (keydown.enter)="signIn()">Sign in</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <span *ngIf="invalidDetails">
              <ion-text color="danger">Sign in details are incorrect. Please try again.</ion-text>
            </span>
          </ion-row>
        </div>
      </div>
    </form>
  
    <div class="auth-options">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-label>Don't have an account?</ion-label>
        <ion-button size="small" (click)="navToSignUp()">Sign Up</ion-button>
      </ion-row>
    </div>
  
    <div class="auth-options">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-label>Forgotten your password?</ion-label>
        <ion-button size="small" (click)="navToResetPassword()">Reset It</ion-button>
      </ion-row>
    </div>
  </div>
</ion-content>

