ion-icon:active {
    color: royalblue;
};

.form-item {
    height: 66px;
};

.container {
    width: 33%;
    min-width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    h3 {
        color: #0d0d0d;
    };

    p {
        font-size: 14px;
        color: #606060
    };
};

.auth-options {
    @media screen and (max-height: 456px) {
        display: none;
    }

    @media screen and (max-height: 500px) {
        margin-top: 10px;
    }

    display: inherit;
    margin-top: 30px;
};