<ion-content>
  <div class="container">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
      <div class="form-group">
        <p>Sign in to your account.</p>
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" type="text" placeholder="Email" formControlName="email" oninput="this.value = this.value.toLowerCase().trim()" required ></ion-input>
          </ion-item>
          <span *ngIf="f.email.invalid && f.email.touched">
            <span *ngIf="f.email.errors.email">
              <p class="error">This email address is invalid.</p>
            </span>
            <span *ngIf="f.email.errors.required">
              <p class="error">Please enter an email address.</p>
            </span>
          </span>
        </div>
        
        <div class="form-item">
          <ion-item>
            <ion-input class="form-control" [type]="passwordType" placeholder="Password" formControlName="password" required
              oninput="this.value = this.value.trim()"></ion-input>
            <ion-icon name="eye" position="fixed" slot="end" tappable (click)="togglePasswordType()"></ion-icon>
          </ion-item>
          <span *ngIf="f.password.invalid && f.password.touched">
            <span *ngIf="f.password.errors.required">
              <p class="error">Please enter a password.</p>
            </span>
            <span *ngIf="f.password.errors.minlength">
              <p class="error">Password must be greater than 7 characters.</p>
            </span>
          </span>
        </div>
    
        <div class="form-item">
          <ion-item lines="none">
            <button class="form-control submit-button" type="submit" [disabled]="this.signInForm.invalid || loading" (keydown.enter)="signIn()">Sign in</button>
          </ion-item>

          <span *ngIf="invalidDetails">
            <p class="error">Sign in details are incorrect. Please try again.</p>
          </span>
        </div>
      </div>
    </form>
  
    <div class="auth-options">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-label>Don't have an account?</ion-label>
        <ion-button size="small" (click)="navToSignUp()">Sign Up</ion-button>
      </ion-row>
    </div>
  
    <div class="auth-options">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-label>Forgotten your password?</ion-label>
        <ion-button size="small" (click)="navToResetPassword()">Reset It</ion-button>
      </ion-row>
    </div>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <ion-spinner class="spinner" name="crescent" ></ion-spinner>
  </div>
</ion-content>
