<div class="ion-activatable tappable ion-no-margin ion-no-padding" [hidden]="index === openArticleIndex">
  <ion-ripple-effect type="unbound"></ion-ripple-effect>
  <ion-row>
    <ion-col size="11" class="ion-no-margin ion-no-padding title">
      <h1 class="two-line-wrap"><b>{{ title }}</b></h1>
    </ion-col>
    <ion-col size="1" class="ion-text-end">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<div class="ion-activatable tappable ion-no-margin ion-no-padding" [hidden]="index !== openArticleIndex">
  <ion-ripple-effect type="unbound"></ion-ripple-effect>
  <ion-row>
    <ion-col size="11" class="ion-no-margin ion-no-padding title">
      <h1 class="four-line-wrap"><b>{{ title }}</b></h1>
    </ion-col>
    <ion-col size="1" class="ion-text-end">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>