<ion-grid>
  <ion-row>
    <ion-col class="arrow-container" size="1">
      <button (click)="slidePrev()" [disabled]="leftArrowDisabled || buttonClicked">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </button>
    </ion-col>

    <ion-col size="10">
      <ion-slides [options]="slideOpts" #slides (ionSlideWillChange)="onSlideWillChange()" (ionSlidesDidLoad)="checkSlidesPos()" (ionSlideDidChange)="checkSlidesPos()">
        <ion-slide>
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row> 
              <div class="body">
                <h4>{{ article.displayAuthors && article.displayAuthors.length > 0 ? article.displayAuthors.join(', ') : '' }}</h4>
                <p class="body-line-wrap" [innerHTML]="article.body"></p>
              </div>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide class="slide-container" *ngIf="imgUrl">
          <img [hidden]="!showImage" draggable="false" onmousedown="return false" src="{{ imgUrl }}" alt="Loading image..." (click)="viewImage()" loading="eager" (error)="handleImgError()" ondrag="return false"/>
        </ion-slide>

        <ion-slide class="slide-container" *ngIf="topicArray.length || keywordArray.length">
          <div class="metrics-line-wrap">
            <div class="text-list-item" *ngIf="topicArray.length">
              <ion-row class="ion-justify-content-center">
                <h4>Topics</h4>
              </ion-row>
              <ion-row class="ion-text-wrap ion-justify-content-center">
                <p>
                  <ion-col size="auto" (click)="openFilterPopover($event, 'topics', topic)" *ngFor="let topic of topicArray; let i = index">
                    {{ topic }}{{ i === topicArray.length - 1 ? "" : ","}}
                  </ion-col>
                </p>
              </ion-row>
            </div>

            <div class="text-list-item" *ngIf="keywordArray.length">
              <ion-row class="ion-justify-content-center">
                <h4>Keywords</h4>
              </ion-row>
              <ion-row class="ion-text-wrap ion-justify-content-center">
                <p>
                  <ion-col size="auto" (click)="openFilterPopover($event, 'keywords', keyword)" *ngFor="let keyword of keywordArray; let i = index">
                    {{ keyword }}{{ i === keywordArray.length - 1 ? "" : "," }}
                  </ion-col>
                </p>
              </ion-row>
            </div>
          </div>
        </ion-slide>

        <ion-slide class="slide-container">
          <div class="metrics-line-wrap">
            <ion-row class="ion-justify-content-evenly ion-no-margin ion-no-padding">

              <div class="metric-item">
                <ion-row class="ion-justify-content-center">
                  <h4>News Source</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <p class="clickable" (click)="openFilterPopover($event, 'sources', article.displaySourceTitle)">{{ article.displaySourceTitle }}</p>
                </ion-row>
              </div>

              <div class="metric-item" *ngIf="article.displayBiasRating">
                <ion-row class="ion-justify-content-center">
                  <h4>Political Bias</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <p class="clickable" (click)="openFilterPopover($event, 'bias', article.displayBiasRating)">{{ article.displayBiasRating }}</p>
                </ion-row>
              </div>

              <div class="metric-item ion-no-margin ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <h4>Article Attitude</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-range class="negative-range" min="0" max="-1" step="0.1" color="danger"
                    value="{{ article.tone >= 0 ? '0' : article.tone}}"></ion-range>
                  <ion-range min="0" max="1" step="0.1" color="primary"
                  value="{{ article.tone >= 0 ? article.tone : '0' }}"></ion-range>
                </ion-row>
              </div>
                
              <div class="metric-item">
                <ion-row class="ion-justify-content-center">
                  <h4>Word Count</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <p>{{ article.wordCount }}</p>
                </ion-row>
              </div>

              <div class="metric-item">
                <ion-row class="ion-justify-content-center">
                  <h4>Article Origin</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <p class="clickable" (click)="openFilterPopover($event, 'locations', article.displaySourceCountry)">{{ article.displaySourceCountry }}</p>
                </ion-row>
              </div>

              <div class="metric-item">
                <ion-row class="ion-justify-content-center">
                  <h4>Date Published</h4>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <p>{{ datePublished }}<p>
                </ion-row>
              </div>
            </ion-row>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col class="arrow-container" size="1">
      <button (click)="slideNext()" [disabled]="rightArrowDisabled || buttonClicked">
        <ion-icon slot="icon-only" name="arrow-forward" color="primary"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="ion-no-margin ion-no-padding">
  <ion-buttons class="ion-justify-content-evenly">
    <ion-chip class="ion-no-margin" color="primary" (click)="goToArticle()">
      <ion-label>Read On At Website</ion-label>
      <ion-icon name="open"></ion-icon>
    </ion-chip>
  </ion-buttons>
</div>
