<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="form-group">
    <p>Sign up for an account</p>
    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" type="text" placeholder="Email" formControlName="email" required></ion-input>
      </ion-item>
      <span *ngIf="f.email.invalid && f.email.touched">
        <span *ngIf="f.email.errors.email">
          <ion-text color="danger">This email address is invalid.</ion-text>
        </span>
        <span *ngIf="f.email.errors.required">
          <ion-text color="danger">You must enter an email address.</ion-text>
        </span>
      </span>
    </div>
    
    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" [type]="passwordType" placeholder="Password" formControlName="password" required></ion-input>
        <ion-icon name="eye" position="fixed" slot="end" tappable (click)="togglePasswordType()"></ion-icon>
      </ion-item>
      <span *ngIf="f.password.invalid && f.password.touched">
        <span *ngIf="f.password.errors.required">
          <ion-text color="danger">You must enter a password.</ion-text>
        </span>
        <span *ngIf="f.password.errors.minlength">
          <ion-text color="danger">Password must be greater than 7 characters.</ion-text>
        </span>
      </span>
    </div>

    <div class="form-item">
      <ion-item>
        <ion-input class="form-control" [type]="confirmPasswordType" placeholder="Re-enter password" formControlName="confirmPassword" required></ion-input>
        <ion-icon name="eye" position="fixed" slot="end" tappable (click)="toggleConfirmPasswordType()"></ion-icon>
      </ion-item>
      <span *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched">
        <span *ngIf="f.confirmPassword.errors.required">
          <ion-text color="danger">You must re-enter your password.</ion-text>
        </span>
        <span *ngIf="f.confirmPassword.errors.mustMatch">
          <ion-text color="danger">The passwords you've entered don't match.</ion-text>
        </span>
      </span>
    </div>

    <div class="form-item">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button class="form-control" type="submit" expand="full" [disabled]="this.signUpForm.invalid || buttonClicked">Create account</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <span *ngIf="invalidDetails">
          <ion-text color="danger">Could not sign you up. Try a different email.</ion-text>
        </span>
      </ion-row>
    </div>
  </div>
</form>