.container {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 10px;
    color: #606060;
};

ion-grid {
    margin-top: 0px;
    padding-top: 0px;
};

h2 {
    margin-top: 10px;
    text-align: center;
    color: var(--ion-color-primary);
};

hr {
    height: 0;
    border-width: 1px;
};

ion-row {
    margin-top: 10px;
    margin-bottom: 10px;
};

.annotation {
    max-width: 720px;
    min-width: 320px;
};