ion-card {
    white-space: pre-line;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    --ion-background-color: white;
}

h2 {
    color: var(--ion-color-primary);
}


a {
    text-decoration: none;
}