
<ion-card>
  <ion-card-content>        
    <ion-row>
      <ion-col size="11">
        <div class="title" (click)="isCardExpanded = !isCardExpanded">
          <h1>{{ article.title }}</h1>
        </div>
      </ion-col>
      <ion-col size="1" class="ion-text-end">
        <ion-icon name="more"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-slides>
      <ion-slide *ngIf="isCardExpanded">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row> 
            <div class="body" (click)="isCardExpanded = !isCardExpanded" >
              <h4>{{ article.author ? article.author : '' }}</h4>
              <p>{{ article.body }}</p>
            </div>
          </ion-row>

          <ion-row class="ion-justify-content-center" *ngIf="isCardExpanded">
            <ion-button href="{{ article.url }}" target="_blank">Go to article</ion-button>  
          </ion-row>
        </ion-grid>
      </ion-slide>
        
      <ion-slide *ngIf="isCardExpanded">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col size="4">
              <ion-row class="ion-justify-content-center">
                <ion-label>Attitude</ion-label>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-range min="-1" max="1" step="0.1" color="danger"
                  value="{{ article.sentiment }}" ticks="true"></ion-range>
              </ion-row>
            </ion-col>

            <ion-col size="8">
              <ion-row class="ion-justify-content-center">
                <ion-label>Quality of journalism</ion-label>
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <app-rating [(rating)]="article.rating" [(hasRated)]="hasRated"></app-rating>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>

    <ion-row class="ion-justify-content-between footer">
        <ion-col size="8">
          <ion-row class="ion-justify-content-start">
            <p>{{ article.source }}</p>
          </ion-row>
        </ion-col>

        <ion-col size="4">
          <ion-row class="ion-justify-content-end">
            <p>{{ dateAge }}</p>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
