ion-card {
    padding: 10px;
    margin: 5px auto;
    min-width: 260px;
    max-width: 1024px;

    ion-card-content {
        padding: 0;
        margin: 0;
        font-size: 12px;

        .title {
            &:hover {
                cursor: pointer;
            };
    
            &:active {
                background-color: whitesmoke;
            };

            h1 {
                font-size: 18px;
            };
        }

        .body {
            text-align: left;

            &:hover {
                cursor: pointer;
            };
    
            &:active {
                background-color: whitesmoke;
            };

            h4 {
                color: #999;
                margin-bottom: 16px;
            };

            p {
                margin-bottom: 4px;
            };
        };

        .footer {
            p {
                color: #999;
            };
        };
    };
    
    ion-card-header {
        padding: 0;
        margin: 0;
    };
    
    ion-card-title {
        padding: 0;
        margin: 0;
    };

    ion-icon {
        font-size: 32px;
    }
};

ion-range {
    padding: 0;
    margin: 0;
    --knob-size: 0;
};

ion-row {
    margin: 0;
    padding: 0;
};

ion-col {
    margin: 0;
    padding: 0;
};
