
ion-icon {
    font-size: 24px;
    &:hover {
        cursor: pointer;
    }
}

ion-slides {
    cursor: grab;
    
    &:active {
        cursor: grabbing;
    }

    ion-slide {
        margin-bottom: 10px;
    }
}

.body {
    text-align: left;
    margin: 0px;

    h4 {
        font-size: 16px;
        color: #999;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        margin-left: 2px;
        margin-right: 2px; 
        white-space: pre-line;

        @media screen and (min-width: 720px) {
            font-size: 16px;
        }

        &.body-line-wrap {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 14; /* number of lines to show */

            @media screen and (min-width: 720px) {
                -webkit-line-clamp: 16;
            }
        }
    }

    ion-button {
        padding: 0px;
        margin: 0px;
    }
}

.slide-container {
    height: 300px;

    @media screen and (min-width: 720px) {
        height: 400px;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    ion-img {
        margin: 5px auto;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.metrics-line-wrap {
    @media screen and (min-width: 720px) {
        line-height: 20px;
        max-height: 384px;
    }
    
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 16px;
    max-height: 304px;

    p {
        color: var(--ion-color-primary);
        font-size: 14px;

        @media screen and (min-width: 720px) {
            font-size: 18px;
        }

        &:hover {
            cursor: pointer;
        }
        
    }
}

.metric-item {
    min-width: 100px;
    max-width: 200px;
    margin: 10px;
    margin-bottom: 2px;    

    @media screen and (min-width: 890px) {
        min-width: 200px;
        max-width: 400px;
        margin: 20px;
        margin-bottom: 4px;   
    }

    h4 {
        color: #999;
    }

    .clickable {
        &:hover {
            cursor: pointer;
        }
    }
}

.text-list-item {
    min-width: 100px;
    max-width: auto;
    margin-bottom: 10px;

    @media screen and (min-width: 890px) {
        margin: 20px;
    }

    h4 {
        color: #999;
    }

}

ion-card-header {
    padding: 0;
    margin: 0;
}

ion-card-title {
    padding: 0;
    margin: 0;
}

.arrow-container {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background: rgba(white, 0);

        &[disabled] {
            cursor: default;
            opacity: 0.4;
            pointer-events: none;
        }
    }
}

.negative-range {
    transform: rotate(180deg);
}

ion-range {
    padding: 0;
    margin: 0;
    --knob-size: 0;
    pointer-events: none;
}

ion-row {
    margin: 0;
    padding: 0;
}

ion-col {
    margin: 0;
    padding: 0;
}