.image-modal {
    max-width: 1066px;
    margin: 0px auto;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.dismiss-icon {
    position: absolute;
    right: 0px;
    bottom: 0px;

    @media screen and (min-width: 520px) {
        top: 0px;
        bottom: inherit;
    }

    font-size: 24px;

    &:hover {
        cursor: pointer; 
    }
}
