ion-content {
    --overflow: hidden;
    position: relative;
    --ion-background-color: whitesmoke;
}

ion-img.logo {
    cursor: pointer;
    max-width: 150px;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
}

ion-buttons {
    position: absolute;

    &.left-buttons {
        left: 0px;
    }
    
    &.right-buttons {
        right: 0px;
    }
}


ion-chip {
    padding: 5px;
}