

ion-icon.card-icon {
    position: relative;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, 20%);
    width: 75px;
    height: 75px;
}
ion-icon {
    color: #4169e1;
}
ion-img.image {
    width: 360px;
}

ion-img.logo {
    width: 200px;
    height: 64px;
    margin: 0 auto;
}

.email-section {
    background-color: #4169e1;
}

.summary-section {
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/neutrify-banner.png');
}

.feature-section {
    background-color: white;
}

.feature {
    max-width: 360px;
}
