<ion-content #homePage>

  <div class="email-section">
    <ion-img class="logo" src="../../assets/img/logo/neutrify-1600px512px.png"></ion-img>
  </div>

  <div class="summary-section">
    <div class="cta">
          <ion-grid class="form-group">
              <ion-row class="ion-justify-content-center">
                <ion-card color="light" class="feature">
                  <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <h3>View articles from many sources and organise them into favourites.</h3>
                          <ion-icon name="albums" slot="start"></ion-icon>
                        </ion-item>
                        <ion-item>
                          <h3>Search for specifc articles from amongst your news feed.</h3>
                          <ion-icon name="search" slot="start"></ion-icon>
                        </ion-item>
                        <ion-item>
                          <h3>Sort your news feed by the topics you are interested in.</h3>
                          <ion-icon name="football" slot="start"></ion-icon>
                          </ion-item>
                        <ion-item>
                          <h3>View all coverage of global news stories, as and when it happens.</h3>
                          <ion-icon name="globe" slot="start"></ion-icon>
                        </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </ion-row>     
              <ion-row class="ion-justify-content-center">
                  <form class="ion-padding" [formGroup]="landingPageForm" (ngSubmit)="onSubmit()">
    
                    <ion-item>
                      <ion-input name="customerEmail" size="40px" class="form-control" type="email" 
                      placeholder="Enter email address..." formControlName="customerEmail"></ion-input>
                      <ion-button class="form-control" type="submit" color="tertiary" [disabled]="landingPageForm.invalid">Try it!</ion-button>
                    </ion-item> 
                  </form>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-label>
                      <ion-text color="light">
                        <p>Try Neutrify free for a month. No credit card required.</p>
                      </ion-text>
                    </ion-label>
                </ion-row>      
          </ion-grid>
    </div>
  </div>

  <div class="ion-padding feature-section">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <h1>Never Suffer from Biased News Again</h1>
      </ion-row>

      <ion-row class="ion-justify-content-center">
          <ion-card class="feature">
              <div>
                <ion-icon class="card-icon" name="stats"></ion-icon>
              </div>
            <ion-card-header class="ion-text-center ion-no-padding">
              <ion-card-title>
                <h2>See an Abundance of Information</h2>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Neutrify gives you easy access to professional news analytics that can
                help you determine the quality and trustworthiness of an article.
              </p>
            </ion-card-content>
          </ion-card>

          <ion-card class="feature">
            <div>
              <ion-icon class="card-icon" name="color-wand"></ion-icon>
            </div>
            <ion-card-header class="ion-text-center ion-no-padding">
              <ion-card-title>
                <h2>Filter out the Hysteria</h2>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                There are some stories that aren't worth reading, so Neutrify gives you the tools
                to filter these articles out of your news feed, saving you from a headache.
              </p>
            </ion-card-content>
          </ion-card>
          
          <ion-card class="feature">
              <div>
                <ion-icon class="card-icon" name="chatboxes"></ion-icon>
              </div>
            <ion-card-header class="ion-text-center ion-no-padding">
              <ion-card-title>
                  <h2>Engage in Civil Discussion</h2>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                  Neutrify’s chat algorithms protect you from unwanted exposure to trolls,
                  so that you can focus on civil discussion.
                </p>
            </ion-card-content>
          </ion-card>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="book"></ion-icon>
          </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>Read just the Key Points</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Neutrify makes your life easy by generating a list of the most important points
              made in an article, meaning reading the article is optional.
            </p>
          </ion-card-content>
        </ion-card>
        
        <ion-card class="feature">
            <div>
              <ion-icon class="card-icon" name="save"></ion-icon>
            </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>Save Valuable Articles</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Find an article that you want to read again or have an interesting
              conversation you wish to keep? Neutrify allows you to save it all for later.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="share"></ion-icon>
          </div>
        <ion-card-header class="ion-text-center ion-no-padding">
          <ion-card-title>
            <h2>Find out what's Trending</h2>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Find out the number of times the article has been shared on social media and
            how others rate the quality of its journalism.
          </p>
        </ion-card-content>
      </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>