<ion-header>
  <ion-toolbar>
      <ion-img class="logo" src="../../assets/img/logo/neutrify-logo-v2.png"></ion-img>
    <ion-buttons class="toolbar-buttons" slot="end">
      <ion-chip color="primary" (click)="navToSignIn()">
        <ion-label>Sign In</ion-label>
        <ion-icon name="log-in"></ion-icon>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="summary-section">
    <div class="cta">
      <ion-grid class="form-group">
        <ion-row class="ion-justify-content-center">
          <ion-card color="light" class="feature">
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h2>Filter out hysterical and biased news articles.</h2>
                  <ion-icon name="options" slot="start"></ion-icon>
                </ion-item>
                <ion-item>
                  <h2>Stay up to date with the things you care about.</h2>
                  <ion-icon name="newspaper" slot="start"></ion-icon>
                </ion-item>
                <ion-item>
                  <h2>Choose what you want to read about, and what you don’t.</h2>
                  <ion-icon name="thumbs-up" slot="start"></ion-icon>
                  </ion-item>
                <ion-item>
                  <h2>Find out what an article is about before reading it.</h2>
                  <ion-icon name="book" slot="start"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-row>     
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col size="8">
            <ion-button class="cta-button" type="submit" expand="full" color="primary" (click)="navToSignUp()">Get Started</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-label class="text-caption ion-text-center" color="light">
            <p>Neutrify is free to use. Just sign up!</p>
          </ion-label>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="feature-section">

    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <h1>Take Control Of The News</h1>
      </ion-row>

      <ion-card class="feature">
        <div>
          <ion-icon class="card-icon" name="time"></ion-icon>
        </div>
        <ion-card-header class="ion-text-center ion-no-padding">
          <ion-card-title>
            <h2>Save time</h2>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Why waste time scrolling through countless articles you have no interest in? Neutrify allows you to choose the articles that are relevant to you, and hide the ones that aren't.</p>
        </ion-card-content>
      </ion-card>

      <ion-row class="ion-justify-content-center">
        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="warning"></ion-icon>
          </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>Avoid stress</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Reading the news doesn't have to come with a health warning. Avoid the stuff that irritates you by hiding articles that reference the events, topics, people and places that raise your blood pressure.</p>
          </ion-card-content>
        </ion-card>

        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="globe"></ion-icon>
          </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>Stay informed, not overwhelmed</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Who, what, where and why? Neutrify can answer these questions for you. Taking a glance at the keywords and topics mentioned in the article often tells you enough.<p>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="eye-off"></ion-icon>
          </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>No interference</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>We don't have anyone behind the scenes choosing the news you see, nor some algorthim telling you what to read. If you think it should be up to you to curate the news, then you're in the right place.</p>
          </ion-card-content>
        </ion-card>

        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="close-circle"></ion-icon>
          </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>No agenda</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Neutrify doesn't promote any single world view. All we want is for you to have the greatest amount of information avaliable, so you can make up your own mind. We stay neutral.</p>
          </ion-card-content>
        </ion-card>

        <ion-card class="feature">
          <div>
            <ion-icon class="card-icon" name="thumbs-up"></ion-icon>
          </div>
          <ion-card-header class="ion-text-center ion-no-padding">
            <ion-card-title>
              <h2>No cost</h2>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>To start using Neutrify, all you need to do is sign up for an account, which costs you nothing. You'll occassionally see adverts, which pay the bills and go towards developing more app features.</p>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>

  <div class="footer">
    <ion-row class="ion-justify-content-end">
      <p>2019-2020 Neutrify Ltd.</p>
    </ion-row>
  </div>
</ion-content>




