ion-content {
    --overflow: hidden;
}

ion-header {
    --ion-background-color: var(--ion-color-light);
}

ion-img.logo {
    max-width: 150px;
    max-height: 48px;
    margin-left: auto;
    margin-right: auto;
}

ion-buttons {
    position: absolute;

    &.left-buttons {
        left: 0px;
    }
    
    &.right-buttons {
        right: 0px;
    }
    
    .hide-label {
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
}


ion-chip {
    padding: 5px;
}