.container {
    min-width: 320px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 10px;
    color: var(--ion-color-dark);
}

ion-grid {
    margin-top: 0px;
    padding-top: 0px;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

hr {
    height: 0;
    border-width: 1px;
}

ion-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.annotation {
    max-width: 720px;
    min-width: 320px;
}
