  <ion-toolbar>
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-center">
      <ion-label class="title">{{value}}</ion-label>
    </ion-row>
    <ion-row class="ion-no-margin ion-no-padding ion-justify-content-center">
      <ion-chip color="primary" (click)="addFilter('include')">
        <ion-label>Include</ion-label>
      </ion-chip>
      <ion-chip color="danger" (click)="addFilter('exclude')">
        <ion-label>Exclude</ion-label>
      </ion-chip>
    </ion-row>
  </ion-toolbar>
